# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build directory
dist/

# Temporary files
.tmp/
.temp/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo